@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (min-width: 300px) {
  header {
    color: rgb(191, 0, 0);
    padding: 5%;
  }
  footer {
    color: rgb(191, 0, 0);
    padding-top: 10vh;
    text-align: center;
  }
}
@media (min-width: 300px) {
  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    padding-top: 15vh;
  }
  .control > h2 {
    font-size: 24px;
  }
  .control > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5vh;
    padding-top: 5vh;
  }
  .control > form > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .control > form input {
    border: none;
    background-color: rgb(245, 245, 245);
    height: 3vh;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
    text-align: center;
  }
  .control > form p {
    width: 80%;
    text-decoration: underline;
    font-weight: 600;
  }
  .control > form [type=submit] {
    background-color: rgb(191, 0, 0);
    color: white;
    font-weight: 600;
    width: 94%;
    height: 4vh;
  }
  .control > form [type=submit]:hover {
    color: rgb(191, 0, 0);
    background-color: white;
    border: 1px solid rgb(191, 0, 0);
  }
  .control a {
    color: rgb(245, 150, 0);
  }
  .control a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 300px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
    padding-top: 15vh;
  }
  .profile > section {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding-top: 5vh;
    width: 75%;
  }
  .profile aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .profile .profile_date {
    flex-direction: column;
  }
  .profile .profile_date strong {
    justify-self: end;
    align-self: flex-end;
  }
  .profile > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 150, 0);
    color: white;
    width: 60%;
    height: 4vh;
    border-radius: 10px;
    padding: 1%;
  }
  .profile > a:hover {
    background-color: white;
    border: 1px solid rgb(245, 150, 0);
    color: rgb(245, 150, 0);
  }
  .profile > div {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .profile > div a {
    color: rgb(191, 0, 0);
  }
  .profile > div a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 300px) {
  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    padding-top: 15vh;
  }
  .search-bar > h2 {
    font-size: 24px;
  }
  .search-bar > form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5vh;
    padding-top: 5vh;
  }
  .search-bar > form > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .search-bar > form input {
    border: none;
    background-color: rgb(245, 245, 245);
    height: 3vh;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
    text-align: center;
  }
  .search-bar > form [type=submit] {
    background-color: rgb(191, 0, 0);
    color: white;
    font-weight: 600;
    width: 94%;
    height: 4vh;
  }
  .search-bar > form [type=submit]:hover {
    color: rgb(191, 0, 0);
    background-color: white;
    border: 1px solid rgb(191, 0, 0);
  }
}
@media (min-width: 300px) {
  .ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ingredient > .fixed {
    background-color: rgb(245, 150, 0);
    color: white;
    position: fixed;
    width: 16vh;
    text-align: center;
    padding: 2%;
    align-self: flex-end;
    font-size: 16px;
  }
  .ingredient > h2 {
    width: 80%;
    font-size: 20px;
    padding-top: 5vh;
  }
  .ingredient > h4 {
    width: 85%;
    font-weight: 600;
    padding-top: 2vh;
  }
  .ingredient > ul {
    width: 85%;
  }
  .ingredient > ul > aside {
    font-weight: 600;
    display: flex;
    align-items: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .ingredient > ul .controlDisplay {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 24px;
    height: 4vh;
  }
  .ingredient > ul li {
    display: flex;
    align-items: center;
    height: 4vh;
  }
  .ingredient > ul > section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5vh;
  }
  .ingredient .menu_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
  }
  .ingredient .hamburger {
    align-self: flex-end;
    text-align: center;
    color: white;
    background-color: rgb(245, 150, 0);
    border: none;
    width: 20vw;
    padding: 2%;
  }
  .ingredient .menu {
    display: none;
    background-color: rgb(245, 245, 245);
    width: 20vw;
  }
  .ingredient .menu button {
    color: white;
    background-color: rgb(245, 150, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    border-top: 1px solid white;
    width: 100%;
    padding: 2%;
  }
  .ingredient figure {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    height: 12vh;
  }
  .ingredient img {
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    border: 2px double black;
  }
  .ingredient figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    width: 60%;
  }
  .ingredient figcaption > a {
    width: 100%;
    display: -webkit-box; /* Flexboxの代わりに使う */
    -webkit-box-orient: vertical; /* 垂直方向に表示 */
    -webkit-line-clamp: 2; /* 2行まで表示 */
    overflow: hidden; /* オーバーフローを隠す */
    text-overflow: ellipsis; /* 省略記号を追加 */
    white-space: normal; /* 複数行で表示可能に */
    color: black;
    text-decoration: underline;
    font-size: 12px;
  }
  .ingredient figcaption > aside {
    display: flex;
    justify-content: center;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    color: rgb(245, 150, 0);
    font-size: 14px;
    font-weight: 600;
  }
  .ingredient .checkbox {
    border: 2px solid rgb(245, 245, 245);
    border-radius: 100%;
    height: 2vh;
    width: 2vh;
    background-color: rgb(245, 245, 245);
    outline: 1px solid black;
  }
  .ingredient .selected {
    background-color: black;
  }
  .ingredient .hide {
    display: none;
  }
}
@media (min-width: 1000px) {
  header {
    font-size: 24px;
  }
}
@media (min-width: 1000px) {
  .control > h2 {
    font-size: 28px;
  }
  .control > form {
    width: 40%;
  }
  .control > form input {
    font-size: 20px;
  }
  .control > form [type=submit] {
    height: 6vh;
  }
  .control > form p {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .profile > h2 {
    font-size: 28px;
  }
  .profile > section {
    width: 40%;
    font-size: 24px;
  }
  .profile .profile_date {
    flex-direction: row;
  }
  .profile > a {
    width: 40%;
    font-size: 24px;
  }
  .profile > div {
    width: 40%;
    justify-content: center;
    -moz-column-gap: 8vh;
         column-gap: 8vh;
  }
}
@media (min-width: 1000px) {
  .search-bar > h2 {
    font-size: 28px;
  }
  .search-bar > form {
    width: 40%;
  }
  .search-bar > form input {
    font-size: 20px;
  }
  .search-bar > form [type=submit] {
    height: 6vh;
  }
  .search-bar > form p {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .ingredient {
    width: 60%;
  }
}