// Screen
$mobileScreen: 300px;
$desktopScreen: 1000px;

//Color
$red: rgb(191,0,0);
$orange: rgb(245,150,0);
$grey: rgb(245,245,245);

//Sanitize
* {
    padding: 0;
    margin: 0;
}

//Other common style
html {
    scroll-behavior: smooth;
}

// body {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

