@media (min-width: $desktopScreen){
    .control {
        > h2 {
            font-size: 28px;
        }
        > form {
            width: 40%;
            input {
                font-size: 20px;
            }
            [type="submit"]{
                height: 6vh;
            }
            p {
                width: 70%;
            }
        }
    }
}