{% extends 'base.html' %}
{% block title %}Create a New Account{% endblock %}
{% block content %}
<div class="create">
    <h2>Create a New Account</h2>
    <form method='POST'>
        {% csrf_token %} {{ form }}
        <input type='submit' value='Create Account' />
        <p>
            Already have an account?
            <a href="後で追加する">Click here</a>
        </p>
    </form>
</div>
<script>
    console.log($('[type="text"]').attr("placeholder", "Username"));
    console.log($('[type="email"]').attr("placeholder", "Email"));
    console.log($('[type="password"]').eq(0).attr("placeholder", "Password"));
    console.log($('[type="password"]').eq(1).attr("placeholder", "Password (Confirmation)"));
</script>
{% endblock %}