{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="control">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %} {{ form }}
        <a href="{% url 'accounts:create' %}">control Up</a>
        <input type="submit" value="Login" />
    </form>
</div>
<div class="profile">
    <a href="{% url 'accounts:create' %}">Create an account</a>
</div>
<script>
    $('[type="text"]').attr("placeholder", "Username");
    $('[type="password"]').attr("placeholder", "Password");
    $('form a').hide();
    $('label').hide();
    $('span').hide();
    $('br').hide();
</script>
{% endblock %}