{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile">
    <h2>Account Page</h2>
    <section>
        <aside>
            <p>Username:</p>
            <strong>{{user.username}}</strong>
        </aside>
        <aside>
            <p>Email:</p>
            <strong>{{user.email}}</strong>
        </aside>
        <aside class="profile_date">
            <p>Registered at:</p>
            <strong>{{user.date_joined}}</strong>
        </aside>
    </section>
    <a href="{% url 'accounts:update' user.id %}">Update Profile</a>
    <a href="{% url 'accounts:logout' %}">Logout</a>
    <a href="{% url 'accounts:delete' user.id %}">Delete Account</a>
    <a href="{% url 'recipe_int:main' %}">Recipe Search</a>
</div>
{% endblock %}