{% extends 'base.html' %}
{% block title %}Ingridients Page{% endblock %}

{% block content %} 
<div>
    {{ name }}
    {{ serving }}
    {% regroup fetch_data by product_name as result_list %}
    <ul>
        {% for product_name in result_list %}
            <li> {{ product_name.grouper }}: {{ product_name.list.0.product_amount }}</li>
            <ul>
                {% for result in product_name.list %}
                    <li><a href={{ result.url }}>{{ result.name }}</a> </li>
                    <li> <img src={{ result.img }}> </li>
                    <li>{{ result.price }}円</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}