{% extends 'base.html' %}
{% block title %}Ingridients Page{% endblock %}

{% block content %} 
<div class="ingredient">
    <h2>Recipe Name</h2>
    <h4>{{ serving }}</h4>
    {% regroup fetch_data by product_name as result_list %}
    <ul>
        {% for product_name in result_list %}
            <hr>
            <li> {{ product_name.grouper }}</li>
            <section>
                {% for result in product_name.list %}
                <figure>
                    <img src={{ result.img }}>
                    <figcaption>
                        <a href={{ result.url }}>{{ result.name }}</a>
                        <p>{{ result.price }}円</p>
                        <p>{{ result.score }}</p>
                    </figcaption>
                </figure>
                {% endfor %}
            </section>
        {% endfor %}
        <hr>
    </ul>
</div>
{% endblock %}