{% extends 'base.html' %}
{% block title %}Ingridients Page{% endblock %}
{% block content %} 

<div class="search-bar">
    <h2>Enter the recipe ID: </h2>
    <form action="http://127.0.0.1:8000/integration/recipe/" method="POST" >
        {% csrf_token %} {{ form }}
        <input type="submit" value="Get Ingridients">
    </form>
</div>
<div class="profile">
    <a href="{% url 'accounts:profile'%}">Go To Your Profile</a>
    </div>
<script>
    $('[type="text"]').attr("placeholder", "Type Recipe ID here");
    $('label').hide();
</script>
{% endblock %}