@media (min-width: $mobileScreen){
    .ingredient {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .fixed {
            background-color: $orange;
            color: white;
            // border: 1px solid $orange;
            position: fixed;
            width: 16vh;
            text-align: center;
            padding: 2%;
            align-self: flex-end;
        }

        >h2 {
            width: 80%;
            font-size: 20px;
            padding-top: 5vh;
        }
        > h4 {
            width: 85%;
            font-weight: 600;
            padding-top: 2vh;
        }

        .menu_container {
            width: 40%;
            align-items: flex-end;
            border: 1px solid red;
        }

        .hamburger {
            cursor: pointer;
        }
        
        .menu {
            display: none;
            background-color: $grey;
            font-size: 16px;
        }
  

        > ul {
            width: 85%;

            > aside {
                font-weight: 600;
                display: flex;
                align-items: center;
                column-gap: 1vh;
            }
            
            button {
                display: flex;
                align-items: center;
                background-color: transparent;
                border: none;
                font-size: 24px;
                height: 4vh;
            }

            li {
                display: flex;
                align-items: center;
                height: 4vh;
            }
        }

        section {
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            padding-bottom: 5vh;
        }

        figure {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 3vh;
        }

        img {
            width: 10vh;
            height: 10vh;
            border-radius: 10px;
            border: 2px double black;
        }

        figcaption {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1vh;
            width: 60%;

            > a {
                width: 100%;
                display: -webkit-box; /* Flexboxの代わりに使う */
                -webkit-box-orient: vertical; /* 垂直方向に表示 */
                -webkit-line-clamp: 2; /* 2行まで表示 */
                overflow: hidden; /* オーバーフローを隠す */
                text-overflow: ellipsis; /* 省略記号を追加 */
                white-space: normal; /* 複数行で表示可能に */
                color: black;
                text-decoration: underline;
                font-size: 12px;
            }

            > aside {
                display: flex;
                justify-content: center;
                column-gap: 3vh;
                color: $orange;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .checkbox {
            border: 2px solid $grey;
            border-radius: 100%;
            height: 2vh;
            width: 2vh;
            background-color: $grey;
            outline: 1px solid black;
        }
        .selected {
            background-color: black;
        }

        .hide {
            display: none;
        }
    }
}